@{
    ViewData["Title"] = "Quantity";
} 
@{ 
    ProductCRVM selectedProduct = ViewBag.SelectedProduct;
}

<h1>Quantity</h1>
<div class="container">
    <p><b>Product Selected:</b> @selectedProduct.ProductName </p>
</div>
<div class="container">
    <form action="AddToCart" method="post">
        <label>Selected Product:</label>
        <input type="text" value="@selectedProduct.ProductName" name="selectedProduct" readonly />
        <br />
        <label>Select Quantity:</label>
        <input type="number" id="SelectedQuantity" min="1" max="10" name="selectedQuantity" placeholder="Select Quantity..." />
        <br />
        <input type="submit" value="Add to Cart" class="btn btn-primary" />
    </form>
</div>

