
@{
    ViewData["Title"] = "ViewProductsForOrder";
    List<StoreModels.ProductOrder> products = ViewBag.Products;
}

<h1>Products Purchased</h1>
<br />
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity Purchased
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in products)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

